[submodule "tint"]
	path = tint
	url = https://dawn.googlesource.com/tint
[submodule "dawn"]
	path = dawn
	url = https://dawn.googlesource.com/dawn
[submodule "abseil-cpp"]
	path = abseil-cpp
    url = https://github.com/abseil/abseil-cpp.git
[submodule "vulkan-deps"]
	path = vulkan-deps
	url = https://chromium.googlesource.com/vulkan-deps
